{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 formulario">
        <h1>{% trans "Verify Your E-mail Address" %}</h1>
        <img src="https://www.gifsanimados.org/data/media/1446/pokemon-imagen-animada-0007.gif">
        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
        <br/>
    </div>
</div>
{% endblock %}
