{% extends 'base.html' %}
{% block styles %}
<style>
  
  .card{
    margin-top: 20px;
    background-color: black;
  }
</style>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="row justify-content-center">
  <div class="col-md-12 formulario">
    <div style="height:80vh;overflow-y: scroll;">
      <div class="row">
      {% if logros|length > 0 %}
        {% for logro in logros %}
        <div class="col-md-3">
          <div class="card">
              {% if logro.captura == None %}
              <img src="{{logro.foto.url}}" class="card-img-top">
              {% else %}
              <img src="{{logro.captura.url_pokemon}}" class="card-img-top">
              {% endif %}
              <div class="card-body">
                  <h5 class="card-title">{{logro.user.username}}</h5>
                  <p class="card-text">
                      {{logro.comentarios}}
                  </p>
              </div>
              <div class="card-footer" id="publicar{{logro.id}}">
                <a href="#" onclick="like({{logro.id}});" style="color:white;"><i class="fa fa-thumbs-up" ></i></a><span id="like{{logro.id}}" style="color:white;">{{logro.megustas}}</span>
              </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <hr>
        <div>No existen publicaciones para mostrar</div>
        <hr>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{%block script%}
<script>
  function like(id){
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    //incrementar el like del logro
    $.post("{% url 'likepublicacion' %}",{'csrfmiddlewaretoken':csrf,'id':id},function(result){
      if(result.resultado){
        $("#like"+id).text(result.like);
      }
    },'json');
  }
</script>
{% endblock %}